.component {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(125px, 1fr));
  grid-gap: 1rem;
  justify-content: center;
  margin-bottom: 2rem;

  > div {
    background: #f1f1f1;
    padding: 1rem;
    position: relative;
    overflow: hidden;
  }

  > div::before {
    content: "";
    display: block;
    padding-bottom: 100%;
  }

  > div img {
    position: absolute;
    max-width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

@media all and (max-width: 750px) {
  .component {
    grid-template-columns: repeat(auto-fill, minmax(75px, 125px));
  }
}

@media all and (max-width: 600px) {
  .component {
    grid-template-columns: repeat(auto-fill, minmax(50px, 100px));
  }
}
