.component {
  padding: 10px 20px;
  font-weight: 500;
  border-radius: 5px;
  border-width: 2px;
  border-style: solid;
  text-transform: uppercase;
  font-weight: 600;
  outline: 0;
  cursor: pointer;

  &.primary {
    border-color: #8bc34a;
    background-color: #8bc34a;
    color: white;
  }

  &.secondary {
    background-color: transparent;
    border-color: black;
  }
}
