.component {
  max-width: 100%;
  max-height: 100%;
  box-shadow: 0px 5px 25px 0px rgba(0, 0, 0, 0.1);
  padding: 15px;
  background-color: #e8e8e8;

  img {
    opacity: 0;
    object-fit: cover;
    width: 100%;
    max-height: 100%;
  }

  &.flipped {
    background-color: transparent;

    img {
      opacity: 1;
    }
  }

  &.disabled {
    background-color: transparent;
    box-shadow: none;
    opacity: 0.5;

    img {
      opacity: 1;
    }
  }
}
