.component {
  border-radius: 5px;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);

  img {
    opacity: 0;
  }

  &.flipped {
    background-color: transparent;

    img {
      opacity: 1;
    }
  }

  &.disabled {
    background-color: transparent;
    box-shadow: none;
    pointer-events: none;

    img {
      opacity: 0;
    }
  }
}
